<div class="carousel-wrapper">
  <div class="carousel">
    <% for (let image of reunion.images) { %>
    <div>
      <img src="<%= image %>" alt="carousel photo" class="carousel__photo" />
    </div>
    <% } %>

    <div class="carousel__button--next"></div>
    <div class="carousel__button--prev"></div>
  </div>
</div>
<script src="/js/carousel.js"></script>
