<section class="reunion-comments margin-30">
  <div class="comment-container">
    <label for="newComment" name="newComment"> Add your comments here </label>
    <textarea id="newComment"></textarea>
    <button class="btn" id="addComment">Add Comment</button>
  </div>
  <div class="comments-container" id="allComments"></div>
</section>
