<% const monthNames = ['January', 'February', 'March', 'April', 'May', 'June',
'July', 'August', 'September', 'October', 'November', 'December']; %>

<section class="reunion-comments margin-30">
  <div class="comment-container">
    <form class="comment-form" id="comment-form">
      <label class="new-comment-label" for="newComment"
        >Add your comments here</label
      >
      <textarea
        name="newComment"
        id="newComment"
        rows="6"
      ></textarea>
      <input type="hidden" id="csrf" name="_csrf" value="<%=  csrfToken %>" />
      <input
        type="hidden"
        id="reunionId"
        name="reunionId"
        value="<%= reunion._id %>"
      />
      <button type="submit" class="btn" id="addComment">Add Comment</button>
    </form>
  </div>
  <div class="comments-container" id="allComments">
    <% for (let comment of reunion.comments) { %> <% const d =
    comment.createdAt.getDate(); const m =
    monthNames[comment.createdAt.getMonth()]; const y =
    comment.createdAt.getFullYear(); const email = comment.userId.email; %>
    <div class="comment-wrapper">
      <p class="comment-header-text">
        On <%= m+ ' ' +d+ ', ' +y+ ', ' +email %> wrote:
      </p>
      <%= comment.text %>
      <hr />
    </div>
    <% } %>
  </div>
</section>
<script src="https://js.pusher.com/7.0/pusher.min.js" defer></script>
<script src="/js/comments.js" defer></script>
