<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title><%= pageTitle %></title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
      integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel="stylesheet" href="/css/landing-slideshow.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/reunion.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/comments.css">
    <link rel="stylesheet" href="/css/forms.css">
    
  </head>

	<body>
    <script src="/js/main.js"></script>
