<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= pageTitle %></title>
  <link
    rel="shortcut icon"
    href="/public/images/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    as="style"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  />
  <link rel="stylesheet" href="/css/main.css" />
</html>
