.login-form,
.signup-form,
.reset-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.login-form input,
.signup-form input,
.reset-form input {
  padding: 5px;
}
