.reunion-comments {
  display: flex;
  height: 15rem;
  max-width: 80vw;
  justify-content: space-around;
}

.comment-container {
  width: 300px;
  text-align: center;
}

.comment-container textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  max-width: 100%;
}

.comments-container {
  width: 45%;
  height: 100%;
  overflow: scroll;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

.comment-wrapper {
  word-wrap: break-word;
}

.comment-text {
  margin: 10px 0;
  overflow-wrap: break-word;
}

.comment-header-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.new-comment-label {
  font-size: 1.2rem;
}
