.reunion-comments {
  display: flex;
  height: 30rem;
  width: 80vw;
  justify-content: space-between;
}

.comment-container {
  width: 15rem;
}

.comments-container {
  width: 20rem;
  overflow: hidden;
}

.comment-text {
  inline-size: 20rem;
  overflow-wrap: break-word;
}
