.form-control {
  margin: 1rem 0;
}

.form-control label {
  font-size: 1.2rem;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border-bottom: 1px solid black;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #0355ac;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: #bb2221;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:active + label span {
  transform: translateY(-30px);
}
