@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-header {
  z-index: 100;
  text-align: center;
  padding: 1rem;
  opacity: 1;
}

#landing-header h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
}

#landing-header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#landing-header h1,
#landing-header p {
  color: white;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://res.cloudinary.com/joloxcloud/image/upload/v1649521936/reunions/jxycabbqodppupnm60yd.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(https://res.cloudinary.com/joloxcloud/image/upload/v1646328074/reunions/norway_flag_jsc1pm.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://res.cloudinary.com/joloxcloud/image/upload/v1646328075/reunions/farm2_hmhcoq.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://res.cloudinary.com/joloxcloud/image/upload/v1649521851/reunions/e7wkn1mh4u7wddlkjvoj.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://res.cloudinary.com/joloxcloud/image/upload/v1649599682/reunions/gkt0zsmmkbatcnexffmu.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
