.reunion-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.reunion-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.reunion__title {
  font-size: 1.2rem;
  text-align: center;
}

.reunion__year {
  text-align: center;
  margin-bottom: 0.5rem;
}

.card__content h2,
.card__content h1 {
  color: rgba(0, 0, 0, 0.8);
}

.reunion__description {
  text-align: center;
}
