.reunion-container {
  width: 80vw;
}

.reunion-details {
  text-align: center;
}

.reunion-form {
  width: 20rem;
  max-width: 90%;
  margin: 4rem auto;
  display: block;
}

.reunion-item {
  width: 20rem;
  /* max-width: 95%; */
  margin: 1rem;
  text-align: center;
}

.single-image-container img {
  height: 400px;
  max-width: 80%;
}

.reunion-title {
  font-size: 1.2rem;

  padding: 20px 0;
}

.reunion-year {
  text-align: center;
  margin-bottom: 0.5rem;
}

.card__content h2,
.card__content h1 {
  color: rgba(0, 0, 0, 0.8);
}

.reunion-description {
  text-align: center;
}

.description-text {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0 10px;
  margin: 20px 0;
}

.back-button {
  position: absolute;
  top: 5%;
  right: 5%;
}
