  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
  <!-- <%- include('../includes/navigation.ejs') %> -->

  <main>
    <!-- <div id="landing-header">
      <h2><a class="entryLink" href="/reunions">Welcome to the</a></h2>
      <h1><button class="entryLink" href="/reunions">Lokken Reunion</button></h1>
    </div> -->
  <h1>Lokken Reunion</h1>
  <p class="lead">Welcome! <br> Jump right in and explore past reunions.
    <br>Checkout the Upcoming Reunion page for more on the 2023 reunion!</p>
  <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Join Us!</a>
  
  </main>
<%- include('../includes/end.ejs') %>