  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <!-- <%- include('../includes/navigation.ejs') %> -->

  <main>
    <!-- <div id="landing-header">
      <h2><a class="entryLink" href="/reunions">Welcome to the</a></h2>
      <h1><button class="entryLink" href="/reunions">Lokken Reunion</button></h1>
    </div> -->
  <div id="landing-header">
    <h2><a class="entryLink" href="/reunions">Welcome!</a></h2>
    <button class="button entry-button entryLink" href="/reunions">Lokken Reunion</button>
  </div>

  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  </main>
<%- include('../includes/end.ejs') %>